a.list-group-item {
    height:auto;
    min-height:220px;
}
.pull-left img {
    height: 200px;
    width: 180px;
}
a.list-group-item.active small {
    height:auto;
}
.stars {
    margin:20px auto 1px;    
}

#hi.a {
 margin-left: 0px;
 padding :0;
 height:auto;
}

#h {
 margin-left: 0px;
 padding :0;
 height:auto;
}

#hi2 {
 margin-right : 0;
 padding : 0;
 height:auto;
}